*{
	margin: 0;
	padding: 0;

}

#navbar{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar{
	background-image: linear-gradient(to right,#a517ba,#5f1782);
    padding: 0 !important;
}
.navbar nav li{
	padding: 0 10px;

}

.navbar-nav li a
{
	color: #fff !important;
	font-weight: 600;
	float: right;
	text-align: left;
}

.fa-bars{
	color: #fff;
	font-size: 30px !important;
}

.navbar-toggler{
	outline: none !important;
}


#second{
	background-image: linear-gradient(to right,#a517ba,#5f1782);
	color: #fff;
	padding-top: 5%;

}
.new{
	font-size: 40px;
	font-weight: 600;
	margin-top: 100px;
}

.logo-btn{
	width:45px;
	margin: 20px;
}

#second a{
	color: #fff;
	text-decoration: none;
}

.bottom-img{
	width: 100%;
}

#services{
	padding:80px 0;

}
.services-img{
   width: 100px;
   margin-top: 20px;
}

.services{
	padding: 20px;
}
.services h4{
	padding: 5px;
	margin-top: 25px;
	text-transform: uppercase;
}


#services .btn-primary{
	box-shadow: none;
	padding: 8px 25px;
	border: none;
	border-radius: 20px;
   background-image: linear-gradient(to right,#a517ba,#5f1782);
}

#about-us{
	background: #f8f9fa;
	padding-bottom: 50px;
	padding-top: 50px;
}
.about-title{
	font-size: 40px;
	font-weight: 600;
	margin-top: 8%;
}

#about-us ul{
	margin-left: 20px;
}

#feedback{
	margin: 100px 0;

}
.feedback{
	border-left: 4px solid #7b1798;
	margin-top: 50px;
	margin-bottom: 50px;
}

.feedback img{
	height: 60px;
	width: 60px;
	border-radius: 50px;
	margin: 0 10px;
}
.user-details{
	display: inline-block;
	font-size: 12px;
}
#social-media{
	
	padding: 100px 0;
}
#social-media p{
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 30px;
}

.social-icon img{
	width: 60px;
	transition: 0.5s;
}
.social-icon a:hover img{
	transform: translateY(-10px);

}
#footer{
	background-color:#87ceeb;
}
.footer-box .fa
{
	margin-right: 8px;
	font-size: 25px;
	height: 40px;
	width: 40px;
	text-align: center;
	padding-top: 7px;
	border-radius: 2px;
	background-image: linear-gradient(to right,#a517ba,#5f1782);
}

.footer-box .form-control{
	box-shadow: none !important;
	border: none;
	border-radius: 0;
	margin-top: 25px;
	max-width: 250px;
}
.footer-box .btn-primary{
	box-shadow: none !important;
	border: none;
	border-radius: 0;
	margin-top: 30px;
	background-image: linear-gradient(to right,#a517ba,#5f1782);

}
hr{
	background-color: #fff;

}
.copyright{
	margin-bottom: 0;
	padding-bottom: 20px;
	text-align: center;
}